.grid {
  display: grid;
  grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
  grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
  gap: var(--bs-gap, 1.5rem);
  .g-col-12 {
    grid-column: auto/span 12;
  }
  .g-col-md-4 {
    @media (min-width: 768px) {
      grid-column: auto/span 4;
    }
  }
  .g-col-md-8 {
    @media (min-width: 768px) {
      grid-column: auto/span 8;
    }
  }
  
}
