@import url('https://fonts.googleapis.com/css?family=Roboto%3Aregular%2C700%2Cregular%2C700%2Cregular&display=swap&ver=3.9');
html {
    height: 100%;
    width: 100%
}
html,
body {
  font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
::selection {
  color: #fff;
  background: #000;
}
a,button,div,em,h1,h2,h3,h4,h5,h6,input,p,span {
  -webkit-font-smoothing: antialiased;
}
a {
  color: #000;
  text-decoration: none;
  &:hover, &:focus {
    color: #000;
  }
}

ul,ol{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1080px;
    }
}
@-webkit-keyframes loaderAnimation {
  0% {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

@keyframes loaderAnimation {
  0% {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0
  }

  100% {
      opacity: .7
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }

  100% {
      opacity: .7
  }
}
:root {
    --fa-font-light:normal 300 1em/1 "Font Awesome 6 Pro";
    --fa-font-regular:normal 400 1em/1 "Font Awesome 6 Pro";
    --fa-font-solid:normal 900 1em/1 "Font Awesome 6 Pro";
    --fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";
  }
  
  @font-face {
    font-family: "Font Awesome 6 Pro";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url(../fonts/fa-light-300.woff2) format("woff2"), url(../fonts/fa-light-300.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Font Awesome 6 Pro";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../fonts/fa-regular-400.woff2) format("woff2"), url(../fonts/fa-regular-400.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Font Awesome 6 Pro";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../fonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa-brands-400.ttf) format("truetype");
  }
  .fal, .fa-light {
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
  }
  .far,.fa-regular {
    font-family: "Font Awesome 6 Pro";
    font-weight: 400
  }
  .fas,.fa-solid {
    font-family: "Font Awesome 6 Pro";
    font-weight: 900
  }
  .fab,.fa-brands {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400
  }

.fp-h1,h1 {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 28px;
  margin-bottom: 16px
}

@media screen and (min-width: 768px) {
  .fp-h1,h1 {
      font-size:33px;
      line-height: 40px;
      margin-bottom: 20px
  }
}

.fp-h2,h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 24px;
  margin-bottom: 16px
}

@media screen and (min-width: 768px) {
  .fp-h2,h2 {
      font-size:21px;
      line-height: 28px;
      margin-bottom: 20px
  }
}

.fp-h3,h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 24px;
  margin-bottom: 16px
}

@media screen and (min-width: 768px) {
  .fp-h3,h3 {
      font-size:19px;
      line-height: 26px;
      margin-bottom: 20px
  }
}

.fp-h4,h4 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 22px;
  margin-bottom: 16px
}

@media screen and (min-width: 768px) {
  .fp-h4,h4 {
      font-size:16px;
      line-height: 24px;
      margin-bottom: 20px
  }
}

.fp-h5,h5 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 20px;
  margin-bottom: 16px
}

@media screen and (min-width: 768px) {
  .fp-h5,h5 {
      font-size:12px;
      line-height: 20px;
      margin-bottom: 20px
  }
}

  .fp-h6, h6{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 26px;
    margin-bottom: 16px;
    @media screen and (min-width: 768px){
      font-size: 12px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
  .fp-p, .fp-td, .fp-th, p, td, th {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 26px;
    margin-bottom: 30px;
}
.form-group:last-child, .panel:last-child, .popover ol:last-child, .popover ul:last-child, p:last-child {
  margin-bottom: 0;
}
  .margin-bottom-20{
    margin-bottom: 20px;
  }
  .margin-bottom-30{
    margin-bottom: 30px;
  }