.contact_page {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
  
    .map {
      iframe {
        width: 100%;
        border: none;
      }
  
      margin-bottom: 30px;
    }
  }
  
  .contact_info p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 16px;
  }
  
  .contact_page form {
    .form-title {
      background: #008749;
      border-radius: 5px 5px 0 0;
      text-align: center;
      padding: 10px;
      font-size: 18px;
      color: #fff;
      border-bottom: 3px solid #ebc45e;
    }
  
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0px 0px 10px #29b469;
    border: 2px solid #29b469;
    border-radius: 10px;
  
    .form_body {
      padding: 30px 15px 0 15px;
  
      input, select {
        border-radius: 5px;
        background-color: #FFFFFF;
        border: 1px solid #ddd;
        height: 40px;
        padding: 0 11px;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
  
      .form-group {
        margin-bottom: 15px;
      }
  
      select {
        background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        background-position: right .45em top 50%;
        background-repeat: no-repeat;
        padding-right: 21px;
        background-size: auto 16px;
      }
  
      textarea {
        resize: none;
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0.09);
        color: currentColor !important;
        padding: 10px 11px;
        min-height: 120px;
        width: 100%;
      }
  
      button {
        background: #008749;
        font-weight: 100;
        text-transform: capitalize;
        padding: 0 35px;
        border-radius: 5px;
        border: 1px solid transparent;
        color: #fff;
        letter-spacing: .03em;
        height: 40px;
        font-size: 16px;
      }
    }
  }
  
  .form-hotline p {
    text-align: center;
    padding: 0 0 30px 0;
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  .block_search form {
    border: none;
    box-shadow: unset;
    display: flex;
    margin-bottom: 24px;
  
    input {
      border: 1px solid #ddd;
      padding-left: 40px;
      border-radius: 5px;
      border-color: #008749;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 40px;
      box-shadow: unset !important;
      background-color: #fff;
      color: #333;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-transition: color .3s, border .3s, background .3s, opacity .3s;
      -o-transition: color .3s, border .3s, background .3s, opacity .3s;
      transition: color .3s, border .3s, background .3s, opacity .3s;
      padding-right: 11px;
    }
  
    button {
      position: absolute;
      background: transparent;
      border: none;
      outline: none;
      color: #008749;
      font-size: 19px;
      line-height: 40px;
      padding: 0 11px;
    }
  }
  
  .block_tag {
    margin-bottom: 24px;
  
    .block_title {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.05;
      letter-spacing: .05em;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  
    .tagcloud a {
      font-size: 13px;
      display: inline-block;
      border: 1px solid currentColor;
      opacity: .8;
      margin: 0 3px 5px 0;
      padding: 2px 5px;
      border-radius: 3px;
      &:hover {
            opacity: 1;
            border-color: #446084;
            background-color: #446084;
            color: #fff;
        }
    }
  }
  