.news-details-page.green-detail-page .news-details-bg {
    margin-bottom: 0;
  }
  .green-detail-page {
    .green-detail-list{
        .container{
            @media (min-width: 1024px){
                max-width: 1600px;
            }
        }
    }
    .fp-news-grid {
        background: #f6f6f6;
        padding: 40px 0;
        margin-top: 70px;
        .container{
            @media (min-width: 1024px){
                max-width: 1600px;
            }
        }
    }
  }
  .green-detail-content {
    padding: 48px 0;
    .container{
        @media (min-width: 1024px) {
            max-width: 909px;
        }
    }
    .green-detail-text {
        p {
          margin-bottom: 16px;
          font-size: 16px;
        }
      
        ol {
          padding-left: 40px;
      
          li {
            list-style: decimal;
            margin-bottom: 15px;
          }
        }
      }
  }
  .green-detail-list-items {
    position: relative;
    overflow: hidden;
  
    .green-detail-list-img {
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;
      @media (min-width: 992px) {
        padding-bottom: 50%;
    }
      img {
        width: 100%;
        transition: transform 1.5s ease-out,opacity 1.5s,-webkit-transform 1.5s ease-out;
        transform: scale(1.03);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .green-detail-list-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 9;
  
      a {
        color: #fff;
        padding: 20px 30px;
        display: inline-flex;
        text-decoration: none !important;
        align-items: center;
        font-size: 16px;
  
        i {
          background: rgba(255, 255, 255, 0.23);
          padding: 7px 30px;
          border-radius: 15px;
          font-size: 12px;
          margin-right: 15px;
        }
      }
    }
  
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    &:hover .green-detail-list-img img {
      transform: scale(1);
    }
  }
  

  .green-detail-list-item {
    .green-detail-list-text {
      height: 100%;
      background: #f6f6f6;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
  
      p {
        text-align: left;
      }
  
      h3 {
        font-weight: bold;
      }
    }
  
    .green-detail-card {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
    }
  
    .green-detail-card-body {
      padding: 52px;
    }
  
    .quote {
      .quote-text {
        font-weight: 300;
        margin-bottom: 20px;
        letter-spacing: .5px;
        line-height: 25px;
  
        &:before {
          content: open-quote;
        }
  
        &:after {
          content: close-quote;
        }
      }
  
      .quotee {
        font-weight: bold;
      }
    }
  
    margin-bottom: 30px;
  }
  