.info_about {
  padding-top: 350px;
  padding-bottom: 350px;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.bg-fill {
  background-position: 65% 52%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.info_about_desc {
  position: relative;

  h2 {
    font-weight: 700;
    color: #eac257;
    font-size: 200%;
    line-height: 1.3;
    margin-bottom: 16px;
  }

  h3 {
    color: #eac257;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.title_mains {
  h1,h2 {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to right, #64aa20, #286311);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    margin-bottom: 0;
    line-height: 1.6;
    @media screen and (max-width: 767px) { 
      font-size: 24px;
    }
  }

  margin-bottom: 40px;
}

.info_description {
  font-size: 16px;
  color: rgb(31, 31, 31);
  line-height: 1.6;
  p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  ul{
    padding-left: 30px;
    li{
      list-style: disc;
      font-size: 15px;
      text-transform: capitalize;
      margin-bottom: 9px;
      p{
        margin-bottom: 19px;
      }
    }
  }
}

.info_img {
  padding: 0 30px;
  
}

.journey_success {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
  .img {
    -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    position: relative;
    overflow: hidden;
  }
}


.enthusiasm {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;

  blockquote {
    position: relative;
    font-size: 19px;
    margin: 0 0 24px;
    padding: 0 24px 0 36px;
    border-left: 2px solid #446084;
    font-style: italic;
    color: #333;

    p {
      font-size: 19px;
      line-height: 1.6;
    }
  }
}

@media (min-width: 1200px) {
  .enthusiasm .container {
    max-width: 50%;
  }
}
.achievement {
  padding-top: 30px;
  padding-bottom: 30px;
  .achievement_img{
    @media screen and (max-width: 767px) { 
      margin-bottom: 30px;
    }
  }
}