.block-title h2 {
    padding: 10px 30px 20px;
    margin-bottom: 0;
    font-size: 16px;
    @media screen and (min-width: 768px){
        padding: 50px 0 20px;
        font-size: 21px;
    }
}
.block-news{
    .container{
        @media screen and (min-width: 768px){
            max-width: 1466px;
            padding: 0 31px;
        }
        @media screen and (max-width: 767px){
            padding: 0;
        }
    }
    @media screen and (min-width: 768px){
        .block-news-content {
            margin: 0 -19px;
        }
    }
    
    .slick-dots{
        display: flex;
        padding: 20px 0 40px;
        justify-content: center;
        z-index: 200;
        >li {
            width: 28px;
            height: 20px;
            display: inline-block;
            margin: 0 3px;
            padding: 0;
            opacity: .3;
            transition: opacity .5s;
            position: relative;
            line-height: 1;
            font-size: 14px;
            text-align: center;
           
           svg.spinner {
                x: 0px;
                y: 0px;
                .outer {
                    fill: transparent;
                    stroke: #000;
                    stroke-width: 3;
                    stroke-linecap: round;
                    stroke-dasharray: 125.6;
                    -webkit-transform-origin: 20px 20px 0;
                    transform-origin: 20px 20px 0;
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    opacity: 0;
                    -webkit-transition: opacity .4s linear;
                    transition: opacity .4s linear;
                  }
              
                  .inner {
                    stroke: transparent;
                    fill: #000;
                  }
            }
            &.slick-active {
                opacity: 1;
                svg.spinner {
                    .outer {
                        opacity: 1;
                        -webkit-transition: opacity .4s linear;
                        transition: opacity .4s linear;
                        -webkit-animation: spinner var(--duration) linear 1;
                        animation: spinner var(--duration) linear 1;
                        
                    }
                    .inner {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                opacity: .8
            }
        }
    }
}

.slick-news-list{
    
    .news-list-item{
        @media screen and (min-width: 768px){
            padding: 0 19px;
        }
        .news-list-content{
            width: 100%;
            background: #000;
            height: 100%;
            position: relative;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            text-decoration: none !important;
            overflow: hidden;
            &:hover, &:focus {
                color: #23527c;
                text-decoration: underline;
              }
            .news-background-colour{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 50;
                transition: -webkit-filter 1s;
                transition: filter 1s;
                transition: filter 1s,-webkit-filter 1s;
                -webkit-filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                background-color: #282d33;
            }
            .news-content-image{
                position: relative;
                z-index: 100;
                &::before {
                    display: block;
                    content: '';
                    width: 100%;
                    padding-top: 56.2711864407%;
                    @media screen and (min-width: 768px) {
                        padding-top: 56.2580645161%
                    }
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    user-select: none;
                    width: 100%;
                    transform: scale(1.03);
                    transition: transform 1.5s ease-out,opacity 1.5s,-webkit-transform 1.5s ease-out;
                }
            }
            .news-content{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                padding: 20px 0;
                margin: auto 30px;
                z-index: 100;
                @media screen and (min-width: 768px) {
                    padding: 30px 0;
                }
                h2{
                    color: #fff;
                    font-size: 16px;
                    margin: 0;
                    @media screen and (min-width: 768px) {
                        font-size:19px;
                        margin-bottom: 0;
                        line-height: 24px
                    }
                }
            }
        }
        &:hover{
            .news-content-image{
                img{
                    transform: scale(1);
                }
            }
        }
    }
}
.news-page {
    padding-top: 90px;
    padding-bottom: 40px;
    background: #f5f5f5;
    @media screen and (min-width: 1024px){
        padding-top: 120px;
        min-height: 105px;
        padding-bottom: 80px;
    }
    @media screen and (max-width: 992px){
        padding-top: 70px;
    }
    .nav-fixed{
        position: relative;
        width: 100%;
        z-index: 1;
        height: 104px;
        padding-top: 10px;
        text-align: center;
        transition: height .4ms;
        @media screen and (max-width: 992px){
           text-align: left;
           background: #fff;
           width: 100%;
           padding: 25px 20px;
           height: auto;
           
        }
        @media screen and (min-width: 768px){
            height: 72px;
        }
        &.fixed {
            box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.3);
            height: auto;
            background: #000;
            position: fixed;
            z-index: 9999;
            width: 100%;
            top: 0;
            height: auto;
            padding-top: 0!important;
            @media screen and (max-width: 992px){
                background: #fff;
                padding: 25px 20px !important;
                z-index: 9;
            }
            .news-tab-wrap {
            height: auto;
            padding: 0;
            @media screen and (max-width: 992px){
                height: 0;
            }
            .fp-st-list li a {
                text-decoration: none;
                padding-bottom: 25px;
                padding-top: 30px;
                color: #fff;
                @media screen and (max-width: 992px){
                    padding: 0;
                    color: #000;
                }
                &:hover {
                opacity: 1;
                }
            }
            }
        }
    }
    .news-tab-wrap {
        position: relative;
        display: inline-block;
        width: calc(100% - 60px);
        margin: 0 auto;
        @media screen and (min-width: 1170px){
            width: 45%;
          
        }
        @media screen and (max-width: 992px){
            background: #fff;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2000;
            height: 0;
            overflow: hidden;
            display: block;
            box-shadow: 0px 4px 5px #cccc;
            height: 0;
            border-top: 1px solid #e3e3e3;
        }
        .fp-st-list {
            list-style: none;
            display: flex;
            position: relative;
            z-index: 1;
            justify-content: space-between;
            @media screen and (max-width: 992px){
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 10px 48px 10px;
                flex-wrap: wrap;
            }
            li{
                font-size: 14px;
                flex: 1 auto;
                justify-content: space-between;
                display: flex;
                line-height: 1;
                padding: 0 10px;
                position: static;
                @media screen and (max-width: 992px){
                    margin: 15px auto 10px 0;
                    flex: 0 0 25%;
                }
                @media screen and (max-width: 767px){
                    flex: 0 0 calc(100%);
                }
                a{
                    color: #000;
                    display: block;
                    letter-spacing: .5px;
                    font-weight: 400;
                    opacity: .7;
                    padding: 20px 0;
                    text-align: center;
                    width: 100%;
                    transition: all .4s ease;
                    position: relative;
                    text-decoration: none !important;
                    &:before {
                        content: '';
                        background: #111;
                        width: 0;
                        height: 4px;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        border-radius: 10px;
                        transition: all .4s ease;
                        @media screen and (max-width: 992px){
                            display: none;
                        }
                    }
                    &:hover{
                        opacity: 1;
                        &::before{
                            width: 100%;
                        }
                    }
                    @media screen and (max-width: 992px){
                        opacity: .85;
                        transition: opacity .1s;
                        line-height: 30px;
                        color: #000;
                        text-align: left;
                        padding: 0;
                    }
                    &.selected{
                        font-weight: 600;
                        opacity: 1;
                        &::before{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

    .fp-news-grid {
        .container{
            @media (min-width: 1024px){
                max-width: 100%;
            }
            @media screen and (max-width: 1024px){
                max-width: 100%;
            }
        }
        @media screen and (max-width: 767px){
            padding-top: 25px;
        }
        @media screen and (min-width: 768px){
            margin-top: 40px;
            min-height: 300px;
        }

        .fp-grid {
            justify-content: center;
            @media screen and (min-width: 1200px){
                margin-left: -15px;
                margin-right: -15px;
            }
           .fp-grid-item {
            margin-right: 0;
            max-height: inherit;
            margin-bottom: 30px;
            @media screen and (max-width: 1024px){
                padding: 0 15px;
            }
            @media screen and (max-width: 767px){
                padding: 0 10px;
            }
            @media screen and (min-width: 1024px){
                padding: 0 15px;
            }
            &:hover .fp-ng-image-link > .fp-content img{
                transform: translate3d(-50%, -50%, 0) scale(1);
            }
                &:after {
                  display: none;
                }
                .fp-ng-content{
                    padding: 30px;
                }
                .fp-grid-item-single-wrap{
                   background-color: #fff;
                }
                .fp-ng-content-wrap{
                    .fp-ng-date {
                        margin-bottom: 14px;
                        font-size: 14px;
                    }
                    .fp-ng-title {
                        font-size: 21px;
                        letter-spacing: .5px;
                        line-height: 24px;
                        margin-bottom: 15px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        font-weight: 600;
                        min-height: 48px;
                    }
                    .fp-ng-content-copy-wrap {
                        font-size: 13px;
                        font-weight: 300;
                        letter-spacing: .5px;
                        line-height: 24px;
                        margin-bottom: 15px;
                        width: 100%;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        min-height: 73px;
                        &.fp-ng-delimited::after {
                            content: '...';
                            display: inline-block;
                        }
                    }
                    .fp-ng-content-link {
                        font-size: 14px;
                        display: inline-block;
                        font-weight: 400;
                        height: auto;
                        padding: 4px 20px;
                        border-radius: 25px;
                        color: #1a1a1a;
                        background-color: #eee;
                        border-color: #ebebeb;
                        line-height: 25px;
                        -webkit-transition: background-color .3s ease-in-out,color .3s ease-in-out;
                        transition: background-color .3s ease-in-out,color .3s ease-in-out;
                      
                        &:hover {
                          background: #d9d9d9;
                          color: #000;
                        }
                      }
                      
                }
                a {
                    color: #333;
                    text-decoration: none !important;
                }
                .fp-ng-image-link {
                    width: 100%;
                    position: relative;
                    z-index: 1;
                    display: block;
                    @media screen and (min-width: 768px){
                        display: block;
                        max-height: 714px;
                    }
                    .fp-dominant-colour {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        -webkit-filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                        filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                        background-color: #757A7B;
                    }
                    >.fp-content {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        overflow: hidden;
                        img {
                            transition: transform 1.5s ease-out,opacity 1.5s,-webkit-transform 1.5s ease-out;
                            will-change: transform;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) scale(1.03);
                            &.is-blurred {
                                opacity: 0;
                            }
                        }
                    }
                    >.fp-spacer {
                        width: 100%;
                        padding-top: 56.2408223201%;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            overflow: hidden;
                            z-index: 75;
                            -webkit-animation: loaderAnimation .8s infinite linear;
                            animation: loaderAnimation .8s infinite linear;
                            height: 30px;
                            left: calc(50% - 15px);
                            top: calc(50% - 15px);
                            width: 30px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30'%3E %3Ccircle cx='15' cy='15' r='14' fill='none' stroke='%23FFFFFF' stroke-opacity='0.3' stroke-width='1px' /%3E %3Ccircle cx='15' cy='15' r='14' fill='none' stroke='%23FFFFFF' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 47.123'/%3E %3C/svg%3E")
                        }
                    }
                }
                &.is-loaded{
                    .fp-ng-image-link > .fp-content img{
                        opacity: 1;
                    }
                    .fp-spacer::after {
                        display: none;
                    }
                }
            }
            
              
        }
    }
    .fp-trigger {
        font-family: "Open Sans",Helvetica,Arial;
        -webkit-appearance: none;
        border: 0;
        padding: 0;
        display: inline;
        cursor: pointer;
        background: transparent;
        outline: none;
        margin-right: 60px;
        color: #000;
      .fp-bar-button_text {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .5px;
        line-height: 24px;
        display: inline-block;
        color: #000;
      }
      
      .arrow-down {
        background: url(../img/chevron-down-black.svg?v=2666) no-repeat;
        background-size: 100%;
        display: inline-block;
        width: 15px;
        height: 9px;
        margin-left: 10px;
        position: relative;
        bottom: 2px;
      }
      
    }
    .news-details-page{
        .block-news {
            background: #f5f5f5;
            .slick-news-list {
                .news-list-item{
                    .news-list-content {
                        background: #fff;
                        .news-background-colour{
                            background: #fff;
                        }
                        .news-content h2{
                            color: #000;
                            &:hover{
                                color: #23527c;
                            }
                        }
                    }
                }
            }
            .block-title h2{
                @media screen and (max-width: 992px){
                    padding:40px 30px 16px;
                }
            }
        }
        .news-details-bg {
            height: 500px;
            margin-bottom: 30px;
            position: relative;
            @media screen and (min-width: 1024px){
              height: 73vh;
              margin-bottom: 100px;
            }
            .fp-grid-item {
              width: 100%;
              position: relative;
              height: 100%;
              .fp-grid-colour {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                -webkit-filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                background-color: #603333;
             }
             >.fp-grid-spacer {
              width: 100%;
              padding-top: 37.2905027933%;
                  &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    overflow: hidden;
                    z-index: 75;
                    -webkit-animation: loaderAnimation .8s infinite linear;
                    animation: loaderAnimation .8s infinite linear;
                    height: 30px;
                    left: calc(50% - 15px);
                    top: calc(50% - 15px);
                    width: 30px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30'%3E %3Ccircle cx='15' cy='15' r='14' fill='none' stroke='%23FFFFFF' stroke-opacity='0.3' stroke-width='1px' /%3E %3Ccircle cx='15' cy='15' r='14' fill='none' stroke='%23FFFFFF' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 47.123'/%3E %3C/svg%3E");
                }
              }
             >.fp-grid-content {
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  overflow: hidden;
                  width: 100%;
                  height: 100%;
                  img {
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    user-select: none;
                    width: 100%;
                    &.is-blurred {
                      opacity: 0;
                   }
                }
              }
              .fp-ph-gradient {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: linear-gradient(-180deg,transparent 26%,#000 96%);
                opacity: .4;
                z-index: 150;
                transition: opacity 1s;
             }
            
             .fp-ph-copy {
                  color: #fff;
                  position: absolute;
                  left: 30px;
                  bottom: 30px;
                  z-index: 200;
                  max-width: 45%;
                  @media screen and (min-width: 1024px){
                    left: 45px;
                    max-width: 33vw;
                  }
                  .fp-ph-title {
                    margin: 0;
                    text-shadow: 0.5px 0.1px 2px rgba(0,0,0,.2);
                }
              }
              &.is-loaded .fp-grid-spacer::after {
                content: none
             }
            }
          }
          .news-detail-desc{
            .container{
              padding: 40px 30px;
              @media screen and (min-width: 769px){
                max-width: 620px;
                padding: 0;
              }
            }
            .fp-news-share {
              margin-bottom: 10px;
              display: inline-block;
              position: relative;
              min-width: 200px;
              .fp-share-toggle {
                cursor: pointer;
                display: inline-block;
                font-family: "Open Sans",Helvetica,Arial;
                min-width: 80px;
                min-height: 32px;
                height: auto;
                text-align: center;
                font-size: 13px;
                background-color: #ebebeb;
                border: none;
                border-radius: 20px;
                color: #000;
                font-weight: 400;
                letter-spacing: .5px;
                line-height: 19px;
                padding: 7px 18px;
                margin: 0;
                text-decoration: none;
                transition: background-color .3s ease-in-out,color .3s ease-in-out;
                outline: none;
                &:hover {
                  background: #d9d9d9;
                  color: #000;
               }
              }
            }
            
            .fp-share-content {
              left: 102px;
              position: absolute;
              top: 1px;
              width: 100%;
              @media screen and (min-width: 1024px){
                left: 90px;
              }
              .fp-share-list {
                list-style: none;
                font-size: 0;
            
                .fp-share-list-item {
                  font-weight: 300;
                  line-height: 1;
                  padding-left: 0;
                  position: static;
                  margin-right: 5px;
                  font-size: 14px;
                  display: inline-block;
                  @media screen and (min-width: 1024px){
                    margin-right: 2px;
                  }
                  a {
                    background-color: transparent;
                    cursor: pointer;
                    opacity: .7;
                    overflow: hidden;
                    position: relative;
                    transition: opacity .3s,background-color .3s;
                    border: none;
                    color: #000;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    opacity: 0;
                    display: none;
                  }
                }
              }
            }
            .news-detail-text {
              margin-bottom: 20px;
              
              p:first-child {
                  font-size: 16px;
                  font-weight: 300;
                  letter-spacing: .5px;
                  line-height: 29px;
              }
            }
          }
        
    }
    .block-contact{
        background: #fff;
        .container{
            @media screen and (max-width: 992px){
                padding: 0;
                max-width: 100%;
            }
            @media screen and (min-width: 769px){
                display: flex;
                flex-direction: row;
                justify-content: center;
                max-width: 1400px;
                margin: 0 auto;
                padding: 0 46px;
            }
        }
        .block-press-info{
            border-bottom: 1px solid #ebebeb;
            padding: 40px 30px 0;
            width: 100%;
            position: relative;
            @media screen and (min-width: 769px){
                border-bottom: 0;
                border-right: 1px solid #ebebeb;
                padding: 60px 0;
                padding-right: 5%;
                width: 50%;
            }
            .block-title {
                font-size: 21px;
                letter-spacing: .55px;
                font-weight: 400;
                margin-bottom: 30px;
            }
        }
        .block-contact-wrap {
            @media screen and (min-width: 1200px){
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }
            
            .block-contact-content {
              margin-bottom: 60px;
              @media screen and (min-width: 1200px){
                width: 40%;
                margin-bottom: 0;
              }
            }
          
            .block-contact-image {
              max-width: 400px;
              margin: 0 auto 60px;
              @media screen and (min-width: 1200px){
                width: 60%;
                margin-bottom: 0;
              }
            }
          
            .block-contact-content {
              .block-contact-phone, .block-contact-email {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
              }
          
              i {
                margin-right: 5px;
              }
          
              a {
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 26px;
                margin-bottom: 30px;
                font-size: 14px;
              }
            }
          }
          .block-webform {
            padding: 62px 30px 60px;
            width: 100%;
            flex-direction: column;
            p{
                margin-bottom: 15px;
            }
            .form-group {
                margin-bottom: 15px;
            }
            label {
                display: flex;
                &:after {
                    background-image: url(../img/required.svg);
                    -webkit-background-size: 10px 7px;
                    background-size: 10px 7px;
                    content: "";
                    display: inline-block;
                    line-height: 1;
                    height: 7px;
                    width: 10px
                }
            }
            input {
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 26px;
                font-family: "open sans";
                font-weight: 400;
                margin: 0;
                background: #f5f5f5;
                box-sizing: border-box;
                height: 46px;
                border: 0;
                padding: 0 20px;
                width: 100%;
                border-radius: 25px;
                color: #000;
                font-size: 16px;
                margin-top: 10px;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                &:focus {
                    border-color: #66afe9;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
                }
            }
            button {
                margin-top: 0;
                height: 40px;
                line-height: 40px;
                border-radius: 20px;
                vertical-align: middle;
                padding-top: 0;
                padding-bottom: 0;
                border: 0;
                background: transparent;
                color: #ededed;
                color: #333;
                margin-right: 10px;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: normal;
                user-select: none;
            }
            @media screen and (min-width: 769px){
                border-top: none;
                display: flex;
                padding: 60px 0;
                padding-left: 5%;
                width: 50%;
            }
        } 
    }
    .news-home-item {
        width: 100%;
        overflow: hidden;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333;
        position: relative;
        @media (min-width: 1024px){
            height: 335px;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        &:hover img {
            transform: scale(1.05);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
          transition: all 1s ease;
        }
      
        .overlay-div {
          position: absolute;
          pointer-events: none;
          width: 100%;
          height: 100%;
          top: 0;
          background: linear-gradient(to bottom, transparent 65%, black 100%);
      
          span {
            position: absolute;
            bottom: 20px;
            left: 30px;
            letter-spacing: .5px;
            color: #fff;
            display: block;
            -webkit-transition: text-shadow 1s;
            transition: text-shadow 1s;
            line-height: 28px;
            font-weight: 600;
            font-size: 16px;
            text-shadow: 0.5px 0.1px 2px rgba(0, 0, 0, 0.2);
          }
        }
      }
      
      @media (min-width: 768px) {
        .news-home-item .overlay-div span {
          bottom: 30px;
          left: 48px;
        }
      }
    
      .projects{
        .projects-right{
           
            .content {
                padding: 0 30px;
            }
        }
      }
      
      .home-news,.projects{
        .subscribe,.projects-right{
            overflow: hidden;
            position: relative;
            height: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333;
            @media (min-width: 1024px){
                height: 335px;
            }
        }
        .subscribe form {
            padding: 0 30px;
          
            span {
              margin-bottom: 24px !important;
              color: #fff;
              display: block;
            }
          
            input {
              margin-bottom: 16px;
              background-color: rgba(255, 255, 255, 0.15);
              border: 1px solid #ebebeb;
              color: #fff;
              font-size: 14px;
              width: 100%;
              height: 40px;
              border-radius: 25px;
              padding: 7px 20px;
              border: none;
              &::placeholder{
                color: #fff;
              }
            }
          
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              font-weight: 400 !important;
              min-height: 33px;
              padding: 4px 20px;
              border-radius: 25px;
              font-size: 14px;
              white-space: nowrap;
              background-color: #ffffff0d;
              border: transparent;
              color: #fff;
              height: 40px;
              width: 100%;
            }
          }      
      }
      