.home_news{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative; 
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 650px; 
    .title_bg_main h2{
        background-image: linear-gradient(to right, #FFFA8A, #DDAC17);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .home_news_item {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
        background: #fff;
      
        .home_news_img {
          padding-top: 56%;
          position: relative;
          overflow: hidden;
      
          img {
            right: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            top: 0;
            position: absolute;
            -o-object-position: 50% 50%;
            object-position: 50% 50%;
            -o-object-fit: cover;
            object-fit: cover;
          }
      
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 40%;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(to bottom, transparent, rgba(0, 85, 46, 0.8));
            z-index: 1;
          }
        }
      
        .home_news_text {
          padding: 10px 10px 20px;
          text-align: center;
      
          h3 {
            font-size: 15px;
            margin-bottom: 5px;
            font-weight: 700;
            color: #555;
          }
      
          .home_news_desc {
            font-size: 14px;
          }
      
          h3 a {
            color: #555;
          }
        }
      }
      
      .home_news_content {
        .slick-arrow {
          z-index: 1;
          width: 30px;
          top: -2px;
          bottom: 0;
          height: 100%;
          background-color: #fff;
          -webkit-box-shadow: 0 -150px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 -150px 15px 0 rgba(0, 0, 0, 0.3);
          margin: 0 !important;
          position: absolute;
          font-size: 0;
          border: none;
          opacity: 0;
          -webkit-transition: opacity .3s, background .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
          transition: opacity .3s, background .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
          -o-transition: transform .3s, opacity .3s, background .3s, box-shadow .3s;
          transition: transform .3s, opacity .3s, background .3s, box-shadow .3s;
          transition: transform .3s, opacity .3s, background .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
          outline: none;
          &::after{
            font-family: "Font Awesome 6 Pro";
            font-style: normal;
            font-size: 18px;
          }
        }
      
        .slick-prev {
          -webkit-transform: translateX(-10%);
          -ms-transform: translateX(-10%);
          transform: translateX(-10%);
          transform: translateX(-10%);
          right: auto !important;
          left: -1px !important;
          &::after{
            content: "\f104";
          }
        }
      
        .slick-next {
          -webkit-transform: translateX(10%);
          -ms-transform: translateX(10%);
          transform: translateX(10%);
          left: auto !important;
          right: -1px !important;
          &::after{
            content: "\f105";
          }
        }
      
        .slick-news:hover .slick-arrow {
          opacity: .7;
          -webkit-transform: translateX(0) !important;
          -ms-transform: translateX(0) !important;
          transform: translateX(0) !important;
        }
      }
      
      .post-date {
        top: auto;
        left: unset;
        bottom: 80px;
        right: 10px;
        position: absolute;
        display: table;
        z-index: 20;
        pointer-events: none;
        height: 2.8em;
        width: 2.8em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
      
        .post-date-day {
          display: block;
          width: 100%;
          padding: 5px;
          background: #009a5d;
          font-weight: bolder;
          color: #fff;
          line-height: 1;
        }
      
        .post-date-month {
          display: block;
          width: 100%;
          padding: 5px;
          background: #00552e;
          color: #fff;
          font-weight: bolder;
          font-size: 11px;
          line-height: 1;
        }
      }
      
      .home_news_smaill_item {
        position: relative;
        margin-bottom: 30px;
        transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
      
        &:hover {
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
        }
      
        .home_news_smaill_img {
          position: relative;
          overflow: hidden;
          padding-bottom: 56%;
      
          img {
            right: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            top: 0;
            position: absolute;
            -o-object-position: 50% 50%;
            object-position: 50% 50%;
            -o-object-fit: cover;
            object-fit: cover;
          }
      
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 40%;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(to bottom, transparent, rgba(0, 85, 46, 0.8));
            z-index: 1;
          }
        }
      
        .post-date {
          top: 0;
        }
      }
      
}
.news_page{
  padding-top: 30px;
  padding-bottom: 30px;
}
.news_details_page {
  padding-top: 30px;
  padding-bottom: 30px;

  h6 {
    font-size: 11px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
    opacity: .8;
    color: #555;
    margin-bottom: 5px;

    a {
      color: #4d4d4d;
    }
  }
}

.news_deatails_title {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.3;
  color: #555;
  margin-bottom: 13px;
}

.news_deatails_meta {
  margin-bottom: 24px;
  font-size: 11px;
}

.news_details_image {
  margin-bottom: 24px;
}

.news_deatails_desc {
  color: #555;

  h2 {
    font-size: 1.6em;
    line-height: 1.3;
    font-weight: 700;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    margin: auto;
    display: block;
  }
}

.blog-share {
  margin-bottom: 30px;
  a {
  border: 2px solid silver;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 30px;
  color: silver;

  &.facebook:hover {
    background-color: #3a589d;
    border-color: #3a589d;
    color: #fff;
  }

  &.twitter:hover {
    background-color: #2478ba;
    border-color: #2478ba;
    color: #fff;
  }

  &.email:hover {
    background-color: #111;
    border-color: #111;
    color: #fff;
  }

  &.pinterest:hover {
    background-color: #cb2320;
    border-color: #cb2320;
    color: #fff;
  }

  &.linkedin:hover {
    background-color: #0072b7;
    border-color: #0072b7;
    color: #fff;
  }
}
}
@media screen and (min-width: 850px){
  .row-divided>.col+.col:not(.large-12) {
    border-left: 1px solid #ececec;
  }
}
