.nav-pagination {
    margin: 5px 0;
    font-size: 14px;
  
    li {
      margin: 0 5px;
      display: inline-block;
  
      &:first-child {
        margin-left: 0;
      }
    }
  
    > li > {
      span, a {
        font-size: 1.1em;
        display: block;
        height: 2.25em;
        line-height: 2em;
        text-align: center;
        width: auto;
        min-width: 2.25em;
        padding: 0 7px;
        font-weight: bolder;
        border-radius: 99px;
        border: 2px solid currentColor;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        vertical-align: top;
        color: #4d4d4d;
      }
  
      .current, span:hover, a:hover {
        border-color: #446084;
        background-color: #446084;
        color: #fff;
      }
    }
  }
  