.project-page {
    overflow: hidden;
    padding-top: 74px;
    @media screen and (min-width: 1024px){
        padding-top: 78px;
    }
    > .container{
        padding: 0;
    }
    .project-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #fff;
        align-items: flex-start;
        padding: 30px;
        @media screen and (min-width: 768px){
            align-items: center;
            padding: 30px 48px;
        }
        h1{
            margin-bottom: 20px;
            font-size: 21px;
            @media screen and (min-width: 768px){
                margin-bottom: 0;
            }
        }
        .project-button-all {
            display: inline-block;
            font-family: "Open Sans",Helvetica,Arial;
            text-align: center;
            font-size: 13px;
            background-color: #ebebeb;
            border: none;
            border-radius: 20px;
            color: #000;
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 19px;
            padding: 7px 18px;
            margin: 0;
            text-decoration: none;
            transition: background-color .3s ease-in-out,color .3s ease-in-out;
        }
    }
    .project-bar-item {
        .project-trigger {
          font-family: "Open Sans",Helvetica,Arial;
          -webkit-appearance: none;
          border: 0;
          padding: 0;
          display: inline;
          background: 0 0;
          cursor: pointer;
          color: #000;
        }
      
        margin-right: 60px;
        cursor: pointer;
      
        .project-bar-button-text {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: .5px;
          line-height: 24px;
          display: inline-block;
          color: #000;
          @media screen and (min-width: 768px){
            font-size: 21px;
            line-height: 28px;
            margin-bottom: 0;
          }
        }
      
        .project-trigger > .arrow-down {
          background: url(../img/chevron-down-black.svg?v=2666) no-repeat;
          background-size: 100%;
          display: inline-block;
          width: 15px;
          height: 9px;
          margin-left: 10px;
          position: relative;
          bottom: 2px;
        }
      }
      .project-filter-drawer {
        background: #fff;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9;
        height: 0;
        overflow: hidden;
        .project-filter-options-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 10px 48px 10px;
            flex-wrap: wrap;
            transition: transform .9s ease-in-out,opacity .9s,-webkit-transform .9s ease-in-out;
          
            li {
              flex: 0 0 25%;
              font-weight: 300;
              font-size: 14px;
              line-height: 1;
              padding-left: 0;
              position: static;
              margin: 15px auto 10px 0;
              @media (max-width: 767px){
                flex: 0 0 calc(100%);
              }
              .project-navl-link {
                font-weight: 400;
                opacity: .85;
                transition: transform .9s ease-in-out,opacity .9s,-webkit-transform .9s ease-in-out;
                line-height: 30px;
              }
                &.selected {
                    a{
                        font-weight: 600;
                        opacity: 1;
                    }
                }
            }
          }
      }  
      .project-list-box{
        position: relative;
        .project-bar {
            border-bottom: 1px solid #e3e3e3;
        }
      }
}
.project-detail-link {
    display: none;
}
@media screen and (min-width: 1024px){
.project-detail-link {
    bottom: 20px;
    display: block;
    padding: 0;
    position: absolute;
    right: 48px;
    text-align: right;
    width: 48%;
    z-index: 200;
  
    a {
      cursor: pointer;
      display: inline-block;
      font-family: "Open Sans",Helvetica,Arial;
      min-width: 80px;
      min-height: 32px;
      height: auto;
      text-align: center;
      font-size: 13px;
      background-color: #ebebeb;
      border: none;
      border-radius: 20px;
      color: #000;
      font-weight: 400;
      letter-spacing: .5px;
      line-height: 19px;
      padding: 7px 18px;
      margin: 0;
      text-decoration: none;
      transition: background-color .3s ease-in-out,color .3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.15);
      color: #fff;
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
        color: #fff;
      }
    }
  }
}
.project-detail-page{
      .project-pg-mask {
        width: 100%;
        overflow: hidden;
        position: relative;
        @media screen and (min-width: 768px) {
            cursor: pointer;
        }
        > {
          .project-pg-mask-after, .project-pg-mask-before {
            width: 50%;
            height: 100%;
            background: #fff;
            position: absolute;
            will-change: transform;
            @media screen and (max-width: 767px) {
                display: none;
            }
          }
      
          .project-pg-mask-after {
            left: 100%;
            transform: translate(-20%, 0%) matrix(1, 0, 0, 1, 0, 0);
          }
      
          .project-pg-mask-before {
            right: 100%;
            transform: translate(20%, 0%) matrix(1, 0, 0, 1, 0, 0);
          }
        }
      
        img {
          width: 100%;
        }
      }
      .project-dropback {
        border-bottom: 1px solid #ebebeb;
        margin: 0 30px;
        padding: 25px 0 40px;
        text-align: center;
        @media screen and (min-width: 768px) {
          border: 0;
          padding: 25px 0 60px;
        }
        .project-button-primary {
          cursor: pointer;
          display: inline-block;
          font-family: "Open Sans",Helvetica,Arial;
          min-width: 80px;
          min-height: 32px;
          height: auto;
          text-align: center;
          font-size: 13px;
          background-color: #ebebeb;
          border: none;
          border-radius: 20px;
          color: #000;
          font-weight: 400;
          letter-spacing: .5px;
          line-height: 19px;
          padding: 7px 18px;
          margin: 0;
          text-decoration: none;
          transition: background-color .3s ease-in-out,color .3s ease-in-out;
      
          &:hover {
            background: #d9d9d9;
            color: #000;
          }
        }
      }     
      .news-detail-desc{
        @media screen and (min-width: 768px){
          margin-bottom: 100px;
        }
      }
      .project-map {
        margin: 0 auto 40px;
      }
      
      @media screen and (min-width: 1024px) {
        .project-map {
          padding: 0 48px;
          margin: 0 auto 100px;
        }
      }
      
      .project-pm-map-wrap {
        position: relative;
        height: 100%;
      }
      
      @media screen and (min-width: 768px) {
        .project-map .project-pm-map-content {
          width: 100%;
          position: relative;
      
          > {
            .project-spacer {
              width: 100%;
              padding-top: 56.2225475842%;
            }
      
            .project-content {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              overflow: hidden;
            }
          }
        }
      }
      
      .project-map .project-pm-map-content .field-item {
        height: 100%;
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @media screen and (max-width: 767px) {
          position: relative;
        }
        .google-map-field {
          width: 100%;
          height: 100%;
        }
      }
      
      .google-map-field {
        h2 {
          display: none;
        }
      
        .map-container {
          height: 100% !important;
        }
      }
      
      .project-pm-description {
        background: #fafafa;
        padding-bottom: 40px;
        z-index: 2;
        @media screen and (max-width: 767px) {
        display: none;
        }
      }
      
      @media screen and (min-width: 1024px) {
        .project-map .project-pm-description {
          -webkit-align-items: center;
          align-items: center;
          background: rgba(0, 0, 0, 0.8);
          display: -webkit-flex;
          display: flex;
          left: 0;
          height: 100%;
          -webkit-justify-content: center;
          justify-content: center;
          padding-bottom: 0;
          position: absolute;
          top: 0;
          width: 30%;
        }
      }
      
      .project-map {
        iframe {
          height: 100%;
          @media screen and (max-width: 768px) and (orientation: portrait){
            height: 60vh;
          }
        }
        .project-pm-description-wrap {
          display: none;
          padding: 37px 30px 0;
          display: block;
        }
      
        .project-pm-title {
          font-size: 21px;
          font-weight: 400;
          letter-spacing: .5px;
          line-height: 28px;
          margin-bottom: 16px;
          color: #000;
          margin-bottom: 5px;
        }
      
        .project-button-primary {
          cursor: pointer;
          display: inline-block;
          font-family: "Open Sans",Helvetica,Arial;
          min-width: 80px;
          min-height: 32px;
          height: auto;
          text-align: center;
          font-size: 13px;
          background-color: #ebebeb;
          border: none;
          border-radius: 20px;
          color: #000;
          font-weight: 400;
          letter-spacing: .5px;
          line-height: 19px;
          padding: 7px 18px;
          margin: 0;
          transition: background-color .3s ease-in-out,color .3s ease-in-out;
          text-decoration: none !important;
        }
      }
      
      @media screen and (min-width: 1024px) {
        .project-map .project-pm-description-wrap {
          padding: 0 13%;
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-map .project-pm-title {
          font-size: 33px;
          line-height: 40px;
          margin-bottom: 20px;
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-map .project-pm-title {
          font-size: 21px;
          margin-bottom: 5px;
        }
      }
      
      @media screen and (min-width: 1024px) {
        .project-map .project-pm-title {
          color: #fff;
          font-size: 33px;
          margin-bottom: 18px;
        }
      }
      
      @media screen and (min-width: 1024px) {
        .project-map .project-button-primary {
          background-color: rgba(255, 255, 255, 0.15);
          color: #fff;
      
          &:hover {
            background-color: rgba(255, 255, 255, 0.25);
            color: #fff;
          }
        }
      }
      @media screen and (min-width: 768px) {
        .project-tabs {
          margin: 0 auto;
          max-width: 1466px;
          padding: 0 48px;
          text-align: center;
        }
      }
      
      .project-tabs {
        .fp-section-tab {
          display: none;
          height: 75px;
          padding: 0 30px;
      
          .fp-st-header, .fp-st-link {
            color: #000;
          }
      
          .fp-st-header, .fp-st-link {
            padding-left: 0;
            padding-right: 0;
          }
      
          .fp-st-indicator::after, .fp-st-pointer {
            background-color: #000;
          }
        }
        .project-pd-stats {
          overflow: hidden;
      }
        .project-at-content {
          margin-bottom: 40px;
          overflow: hidden;
        }
      
        .project-select-style-1 {
          padding: 0;
          width: calc(100% - 60px);
          margin: 0 30px;
          padding: 20px 0;
        }
      
        &.tab-single-result {
          .fp-section-tab {
            display: block;
          }
      
          .project-select-style-1 {
            display: none;
          }
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-tabs .fp-section-tab {
          display: block;
          padding: 0;
          height: 85px;
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-tabs .fp-section-tab {
          .fp-st-header, .fp-st-link {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-tabs .project-at-content {
          margin-bottom: 100px;
          padding: 20px 0 0;
        }
      }
      
      @media screen and (min-width: 1366px) {
        .project-tabs .project-at-content {
          padding: 20px 0 0;
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-tabs .project-select-style-1 {
          display: none;
        }
      }
      
      .project-pd-stats-list {
        overflow: hidden;
        padding: 25px 30px 30px;
      
        > {
          dt {
            margin-top: 10px;
            color: #000;
            font-size: 12px;
            font-size: 1.2rem;
            line-height: 20px;
            font-weight: 300;
            letter-spacing: .5px;
            text-align: center;
          }
      
          dd {
            color: #000;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: .5px;
            box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.08);
            margin-bottom: 15px;
            margin-top: 7px;
            padding-bottom: 20px;
            text-align: center;
      
            &.project-is-featured p {
              margin: 0;
            }
          }
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-pd-stats-list {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          padding: 0;
          position: relative;
      
          &:after {
            background-color: rgba(0, 0, 0, 0.08);
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: calc(50% - 20px);
            top: 0;
          }
      
          &:before {
            background-color: rgba(0, 0, 0, 0.08);
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: calc(50% - 20px);
            top: 0;
            left: 0;
          }
      
          &:after {
            right: 0;
          }
        }
      }
      
      @media screen and (max-width: 768px) {
        .project-pd-stats-list > dt:first-child {
          margin-top: 0;
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-pd-stats-list > dt {
          box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.08);
          clear: left;
          float: left;
          margin: 0;
          padding: 21px 0 21px 20px;
          text-align: left;
          width: 45%;
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-pd-stats-list > dd {
          float: left;
          margin: 0;
          padding: 21px 0;
          text-align: left;
          width: 55%;
        }
      }
      
      .project-pd-stats-dl-list {
        list-style: none;
        font-size: 0;
        overflow: hidden;
        padding: 7px 30px 30px;
      
        .project-list-item, li {
          line-height: 1;
          padding-left: 0;
          position: static;
        }
      
        .project-list-item a, li a {
          text-decoration: none;
        }
      
        .project-list-item:before, li:before {
          content: none;
        }
      
        .project-pd-stats-dl-item {
          box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.08);
          padding: 20px 0;
        }
      
        .project-pd-stats-dl-dt {
          color: #000;
          font-size: 12px;
          line-height: 20px;
          font-weight: 300;
          letter-spacing: .5px;
          display: block;
          margin-bottom: 5px;
          text-align: center;
        }
      
        .project-pd-stats-dl-dd {
          color: #000;
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
          letter-spacing: .5px;
          display: block;
          text-align: center;
      
          &.project-pd-stats-dl-dd_website {
            word-wrap: break-word;
          }
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-pd-stats-dl-list {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          padding: 0;
          position: relative;
      
          &:after {
            background-color: rgba(0, 0, 0, 0.08);
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: calc(50% - 20px);
            top: 0;
          }
      
          &:before {
            background-color: rgba(0, 0, 0, 0.08);
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: calc(50% - 20px);
            top: 0;
            left: 0;
          }
      
          &:after {
            right: 0;
          }
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-pd-stats-dl-list .project-pd-stats-dl-item {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          width: calc(50% - 20px);
          overflow: hidden;
      
          &:nth-child(odd) {
            margin-right: 20px;
          }
      
          &:nth-child(even) {
            margin-left: 20px;
          }
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-pd-stats-dl-list .project-pd-stats-dl-dt {
          float: left;
          margin: 0;
          padding-left: 20px;
          text-align: left;
          width: 45%;
          line-height: 24px;
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-pd-stats-dl-list .project-pd-stats-dl-dd {
          float: left;
          padding-left: 20px;
          text-align: left;
          width: 55%;
        }
      }
      
      .project-st-wrap {
        position: relative;
        width: 100%;
        display: inline-block;
      }
      
      @media screen and (min-width: 768px) {
        .project-st-wrap {
          width: auto;
        }
      }
      
      .project-st-list {
        list-style: none;
        display: -webkit-flex;
        display: flex;
        position: relative;
        z-index: 1;
        -webkit-justify-content: space-between;
        justify-content: space-between;
      
        .project-st-list-item {
          display: -webkit-flex;
          display: flex;
          -webkit-flex: 1 auto;
          flex: 1 auto;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          line-height: 1;
          padding-left: 0;
          position: static;
      
          a {
            display: block;
            letter-spacing: .5px;
            font-weight: 400;
            opacity: .7;
            text-align: center;
            width: 100%;
            padding: 20px 0;
            transition: opacity .1s ease-in-out;
            color: #000;
            text-decoration: none !important;
      
            &.selected {
              color: #000;
              opacity: 1;
            }
          }
        }
      }
      
      @media screen and (min-width: 768px) {
        .project-st-list .project-st-list-item a {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      
      .project-tabs {
        .project-st-indicator {
          bottom: 0;
          height: 5px;
          position: absolute;
          width: 100%;
      
          &::after {
            background-color: #fff;
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            opacity: .3;
            top: 4px;
            width: 100%;
          }
        }
      
        .project-st-pointer {
          background-color: #000;
          border-radius: 5px;
          display: block;
          height: 5px;
          left: 0;
          position: absolute;
          top: 2px;
        }
      }
      .project-section-slide {
        overflow: hidden;
      
      
      }
      
      .project-section-slide-wrap {
        position: relative;
        z-index: 0;
      }
      
      .project-section-slide .project-section-slide-item {
        float: left;
        left: -200%;
        min-height: 1px;
        position: absolute;
        &.selected{
          left: 0;
          position: static;
          height: auto;
          width: 100%;
        }
      }
      .project-section-slide-wrap {
        width: 2740px;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      
      .project-st-pointer {
        width: 157px;
        left: 0;
      }
      .project-pd-stats-title {
        display: block;
        width: 100%;
        font-size: 14px;
        text-align: left;
        a {
          opacity: .7;
          transition: opacity .3s;
          color: #000;
      }
    }
     
      .project-st-list {
        .nav-tabs {
          margin-bottom: 30px;
          @media screen and (max-width: 767px){
            justify-content: center;
          }
        
          button {
            color: #000;
            display: block;
            letter-spacing: .5px;
            font-weight: 400;
            opacity: .7;
            text-align: center;
            padding: 18px 0;
            transition: opacity .1s ease-in-out;
            padding-left: 20px;
            padding-right: 20px;
            border: none !important;
            margin: 0;
            border-radius: unset;
            line-height: 19px;
            position: relative;
        
            &.active {
              opacity: 1;
              font-weight: 600;
        
              &:after {
                background-color: #000;
                border-radius: 5px;
                display: block;
                height: 5px;
                left: 0;
                position: absolute;
                bottom: -2px;
                content: "";
                width: 100%;
              }
            }
          }
        }
      }  
      .project-section-loader {
        background: rgba(255, 255, 255, 0.8);
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    
        &::after {
          content: '';
          display: block;
          position: absolute;
          overflow: hidden;
          z-index: 75;
          -webkit-animation: loaderAnimation .8s infinite linear;
          animation: loaderAnimation .8s infinite linear;
          height: 22px;
          left: calc(50% - 11px);
          top: calc(50% - 11px);
          width: 22px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22' height='22' viewBox='0 0 22 22'%3E %3Ccircle cx='11' cy='11' r='10' fill='none' stroke='%23b2b2b2' stroke-width='1px' /%3E %3Ccircle cx='11' cy='11' r='10' fill='none' stroke='%23000000' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 47.123'/%3E %3C/svg%3E");
        }
    
        &.active {
          display: block;
        }
    
        &::after {
          content: '';
          display: block;
          position: absolute;
          overflow: hidden;
          z-index: 75;
          -webkit-animation: loaderAnimation .8s infinite linear;
          animation: loaderAnimation .8s infinite linear;
          height: 40px;
          left: calc(50% - 20px);
          top: calc(50% - 20px);
          width: 40px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' height='40' viewBox='0 0 40 40'%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23b2b2b2' stroke-width='1.5px' /%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23000000' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 57.123'/%3E %3C/svg%3E");
        }
      }
      .grid-gallery-list {
        .container {
          max-width: 1466px;
          margin: 0 auto;
          list-style: none;
          @media screen and (min-width: 768px) {
            padding: 0 0 80px;
          }
        }
      
        .fp-grid .fp-grid-item .fp-grid-colour {
          background-color: #f5f5f5;
        }
      }
      
      @media screen and (min-width: 768px) {
        .grid-gallery-list .fp-grid {
          .fp-grid-item:nth-child(2n+1) {
            width: calc(50% - 70px);
            margin-left: 50px;
            margin-right: 20px;
          }
        
          .fp-pg-item:nth-child(2n) {
            width: calc(50% - 70px);
            margin-right: 50px;
            margin-left: 20px;
          }
        }
        
      }
      .block-news .slick-news-list .news-list-item {
        .news-list-content .news-background-colour {
          background-color: #282d33;
        }
      
        .news-content-subtitle {
          color: #fff;
          font-size: 12px;
        }
      
        .news-list-content .news-content h2 {
          color: #fff;
        }
      }
      .project-pd-project-types {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin: 0 30px 40px;
        padding: 0 0 30px;
      
        .project-pd-types-title {
          margin-bottom: 6px;
        }
      
        a {
          cursor: pointer;
          display: inline-block;
          font-family: "Open Sans",Helvetica,Arial;
          min-width: 80px;
          min-height: 32px;
          height: auto;
          text-align: center;
          font-size: 13px;
          border: none;
          border-radius: 20px;
          font-weight: 400;
          letter-spacing: .5px;
          line-height: 19px;
          padding: 7px 18px;
          margin: 0;
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.15);
          color: #333;
        }
      }
      @media screen and (min-width: 768px){
        .grid-gallery-list .fp-grid .fp-grid-item:nth-child(2n) {
          width: calc(50% - 70px);
          margin-right: 50px;
          margin-left: 20px;
      }
      }
      .project-gallery-overlay,.blueprint-albums,.construction-photo {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        background: #fff;
        z-index: 1000;
        display: none;
      }
      
      .project-gallery-swiper {
        position: relative;
        height: 100%;
        width: 100%;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      
      @media screen and (min-width: 768px) {
        .project-gallery-swiper {
          width: calc(100% - 147px);
          -webkit-transform: translate3d(147px, 0, 0);
          transform: translate3d(147px, 0, 0);
        }
      }
      
      .project-pswp {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        touch-action: none;
        z-index: 1500;
        -webkit-text-size-adjust: 100%;
        -webkit-backface-visibility: hidden;
        outline: 0;
      }
      
      .project-pswp-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        will-change: opacity;
        will-change: opacity;
        transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
        opacity: 0;
      }
      
      .project-pswp-scroll-wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      
      .project-pswp-container {
        touch-action: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      
        .project-pswp-tem {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          overflow: hidden;
      
          .project-pswp-zoom-wrap {
            touch-action: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
            transform-origin: left top;
            transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
            transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
            transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1), -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
      
            .project-pswp-img {
              cursor: zoom-in;
              padding: 50px 0;
              height: 100vh;
              width: 100vh;
              margin: auto;
              display: block;
              object-fit: scale-down;
            }
          }
        }
      }
      
      .project-gallery-tiles {
        position: absolute;
        width: 147px;
        height: 100%;
        left: 0;
        top: 0;
        background: repeating-linear-gradient(to bottom, #f5f5f5 0, #f5f5f5 146px, #fff 146.1px, #fff 147px);
        box-sizing: border-box;
        overflow-y: auto;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        @media screen and (max-width: 767px){
          display: none;
        }
        &::-webkit-scrollbar {
          display: none;
      }
      
        .project-gallery-tiles-wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding-right: 1px;
          background: #fff;
      
          .project-gallery-single {
            width: 100%;
            position: relative;
            margin-bottom: 1px;
            cursor: pointer;
            background: #4A5C83;
      
            &.is-selected {
              -webkit-filter: brightness(0.6);
              filter: brightness(0.6);
              opacity: 1;
            }
      
            &.is-hidden {
              -webkit-transform: translate3d(0,35%,0);
              transform: translate3d(0,35%,0);
              opacity: 0;
            }
      
            .project-gallery-content {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              overflow: hidden;
            }
      
            .project-gallery-spacer {
              width: 100%;
              padding-top: 100%;
            }
          }
        }
      }
      
      .project-gallery-tiles-wrapper > .project-gallery-single {
        &.is-loaded .project-gallery-spacer::after {
          content: none !important;
        }
      
        .project-gallery-spacer::after {
          content: '';
          display: block;
          position: absolute;
          overflow: hidden;
          z-index: 75;
          -webkit-animation: loaderAnimation .8s infinite linear;
          animation: loaderAnimation .8s infinite linear;
          height: 22px;
          left: calc(50% - 11px);
          top: calc(50% - 11px);
          width: 22px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22' height='22' viewBox='0 0 22 22'%3E %3Ccircle cx='11' cy='11' r='10' fill='none' stroke='%23FFFFFF' stroke-opacity='0.3' stroke-width='1px' /%3E %3Ccircle cx='11' cy='11' r='10' fill='none' stroke='%23FFFFFF' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 47.123'/%3E %3C/svg%3E");
        }
      }
      
      .project-gallery-tiles .project-gallery-tiles-wrapper .project-gallery-single .project-gallery-content img {
        width: 100%;
        height: auto;
        transition: opacity 1.5s,-webkit-transform 1.5s ease-out;
        transition: transform 1.5s ease-out,opacity 1.5s;
        transition: transform 1.5s ease-out,opacity 1.5s,-webkit-transform 1.5s ease-out;
        opacity: 1;
        will-change: transform;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1.01);
        -ms-transform: translate(-50%, -50%) scale(1.01);
        transform: translate(-50%, -50%) scale(1.01);
         &.is-blurred {
          opacity: 0;
       }
      }
      .project-gallery-overlay-close {
        position: absolute;
        top: 30px;
        right: 30px;
        overflow: hidden;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
      
        .project-button-icon {
          background-color: #ebebeb;
          border: solid 1px #ebebeb;
          opacity: 1;
          overflow: hidden;
          position: relative;
          text-indent: 100%;
          width: 30px;
          white-space: nowrap;
          transition: opacity .3s,background-color .3s;
          height: 30px;
          border-radius: 100%;
      
          &:before {
            content: '';
            display: block;
            left: 8px;
            height: 12px;
            position: absolute;
            top: 8px;
            width: 12px;
            background: url(../img/cross-black.svg) no-repeat center (center / contain);
          }
        }
      }
      .project-pswp-ui {
        -webkit-font-smoothing: auto;
        visibility: visible;
        opacity: 1;
        z-index: 1550;
        transition: opacity .5s;
      }
      
      .project-pswp-preloader {
        opacity: 0;
        will-change: opacity;
        content: '';
        display: block;
        position: absolute;
        overflow: hidden;
        z-index: 75;
        -webkit-animation: loaderAnimation .8s infinite linear;
        animation: loaderAnimation .8s infinite linear;
        height: 40px;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        width: 40px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' height='40' viewBox='0 0 40 40'%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23b2b2b2' stroke-width='1.5px' /%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23000000' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 57.123'/%3E %3C/svg%3E");
      }
      
      .project-pswp-preloader-icn {
        background: 0 0;
        opacity: .75;
        width: 14px;
        height: 14px;
        position: absolute;
        left: 15px;
        top: 15px;
        margin: 0;
        display: none;
      }
      
      .project-pswp-preloader-cut {
        position: relative;
        width: 7px;
        height: 14px;
        overflow: hidden;
      }
      
      .project-pswp-preloader-donut {
        box-sizing: border-box;
        width: 14px;
        height: 14px;
        border: 2px solid #fff;
        border-radius: 50%;
        border-left-color: transparent;
        border-bottom-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        background: 0 0;
        margin: 0;
      }
      
      .project-pswp-button {
        width: 44px;
        height: 44px;
        position: relative;
        background: 0 0;
        cursor: pointer;
        overflow: visible;
        -webkit-appearance: none;
        display: block;
        border: 0;
        padding: 0;
        margin: 0;
        float: right;
        opacity: .75;
        transition: opacity .2s;
        box-shadow: none;
        z-index: 2;
        @media screen and (min-width: 768px){
          display: none;
          opacity: 0;
        }
      }
      
      .project-pswp-button-arrow-left {
        left: 0;
        margin-top: -50px;
        width: 70px;
        height: 100px;
        position: absolute;
        top: auto;
        bottom: 0;
        &::before {
          content: "";
          background-image: url(../img/chevron-left.svg?v=2666) !important;
          background-size: 100%;
          background-position: 0;
          width: 12px;
          height: 11px;
          background-color: transparent;
          top: 50%;
          left: 30px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
        }
      }
      
      .project-pswp-button-arrow-right {
        right: 0;
        margin-top: -50px;
        width: 70px;
        height: 100px;
        position: absolute;
        top: auto;
        bottom: 0;
        &::before{
          content: "";
          background-image: url(../img/chevron-right.svg?v=2666) !important;
          background-size: cover;
          background-position: 0;
          width: 12px;
          height: 11px;
          background-color: transparent;
          top: 50%;
          right: 30px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
        }
      }

      
      .project-pswp-top-bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 44px;
        width: 100%;
        display: none;
        -webkit-backface-visibility: hidden;
        will-change: opacity;
        transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
        background-color: #fff;
      }
      
      .project-pswp-counter {
        height: 44px;
        font-size: 13px;
        line-height: 44px;
        color: #000;
        opacity: .75;
        padding: 0 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
      }
      
      @media screen and (max-width: 767px) {
        .project-pswp-top-bar {
          height: 100px;
          display: block;
          top: auto;
          bottom: 0;
        }
      }
         
}
.projects {
  .slick-arrow {
    position: absolute;
    top: -56px;
    right: 0;
    height: 40px;
    width: 40px;
    font-size: 0;
    border: none;
    padding: 0;
    background-color: #333;
    border-color: #333;
    border-radius: 100%;
  }

  .slick-prev {
    right: 50px;

    &:before {
      content: "\f053";
      font-family: "Font Awesome 6 Pro";
      font-weight: 300;
      color: #fff;
      font-size: 14px;
    }
  }

  .slick-next:before {
    content: "\f054";
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    color: #fff;
    font-size: 14px;
  }
}
