.studio-page {
    h2 {
        margin-top: 0;
        text-align: center;
        margin-bottom: 38px;
        a {
        color: #1a1a1a;
        text-decoration: none;
        background-color: #ebebeb;
        border-color: #ebebeb;
        display: inline-block;
        padding: 4px 20px;
        border-radius: 25px;
        font-size: 14px;
        transition: background-color .3s ease-in-out,color .3s ease-in-out;
    
        &:hover {
            background: #d9d9d9;
            color: #000;
        }
        }
    }

    .studio-personnel-img img {
        margin: auto;
        display: block;
    }
    .news-details-bg {
      margin-bottom: 0;
    }
  
    .studio-content {
      padding: 48px 0;
      .container{
            @media (min-width: 1024px) {
                max-width: 1170px;
            }
        }
    }
    .studio-personnel-img {
        margin-top: 50px;
    }
    .studio-text {
        text-align: center;
        @media (min-width: 1024px) {
            max-width: 650px;
            padding: 0 56px;
            text-align: justify;
        }
        margin: auto;
        p {
            margin-bottom: 16px;
            font-size: 15px;
            letter-spacing: 0;
        }
    }
    .studio-personnel,.studio-working,.studio-life {
        margin-bottom: 48px;
    }
    .studio-expert {
        h2 {
          color: #1a1a1a;
          text-decoration: none;
          background-color: #ebebeb;
          border-color: #ebebeb;
          display: inline-block;
          padding: 4px 20px;
          border-radius: 25px;
          font-size: 14px;
          transition: background-color .3s ease-in-out,color .3s ease-in-out;
        }
      
        text-align: center;
        margin-bottom: 48px;
      }
      
  }

  .studio-prersonnel-page {
    overflow: hidden;
    padding-top: 241px;
    @media screen and (max-width: 767px){
        padding-top: 353px;
    }
    @media screen and (min-width: 1024px){
        padding-top: 241px;
    }
    .filters {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
      
        .dropdown-toggle {
          height: 40px;
          width: 100%;
          border-radius: 25px;
          padding: 0.25rem 1.25rem;
          background-color: #f5f5f5;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      
      @media (min-width: 576px) {
        .filters {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
      
      @media (min-width: 576px) {
        .filters .dropdown-toggle {
          width: 250px;
          max-width: 250px;
        }
      }
      app-search {
        flex: 1;
        position: relative;
        @media (max-width: 767px) {
            flex: 0 0 100%;
        }
      }
      
      .search_container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 200px;
        height: 40px;
        width: 100%;
        background-color: #f5f5f5;
        border-radius: 25px;
        padding: 0.25rem 1.25rem;
        border: 1px solid #f5f5f5;
      
        input {
          padding: 7px 20px;
          border: 0;
          background-color: #f5f5f5;
          border-color: #f5f5f5;
          border-radius: 25px;
          width: 100%;
          height: 40px;
          outline-color: transparent;
          position: absolute;
          top: 0;
          left: 0;
          min-width: 200px;
          font-family: Open Sans,"Font Awesome 6 Pro";
          font-size: 14px;
      
          &:focus {
            background-color: #ebebeb;
          }
        }
      }
      
      .filters_container {
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #ebebeb;
        position: relative;
        top: 0;
        transition: top .3s linear;
        display: flex;
        align-items: center;
        padding: 25px 0;
      }
      
      .order-by {
        a {
            text-decoration: none;
            outline: none;
            box-shadow: none;
        }
        button {
            gap: 0.5rem;
            display: flex;
            align-items: center;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            color: #1a1a1a;
            padding: 4px 16px;
            font-size: 14px;
            min-height: 33px;
             height: auto;
             box-shadow: unset;
             outline: none;
        }
        @media (min-width: 1440px){
            border-left: 2px solid #ebebeb;
            margin-left: auto;
        }
      }
      .dropdown-toggle {
        outline: none;
        box-shadow: unset;
        &:after {
          font-family: "Font Awesome 6 Pro";
          font-weight: 300;
          content: "\f078";
          border: none;
        }
      
        &.show:after {
          content: "\f077";
        }
      }
      
      .dropdown-menu {
        width: 100%;
        padding: 0;
        margin-top: 4px !important;
        box-shadow: 0 2px 8px #0003;
      }
      .dropdown-item.active, .dropdown-item:active{
        background-color: #f5f5f5 !important;
                font-weight: 700;
      }
       
}
.studio-breadcrumb {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    transition: top .3s linear;
  
    .breadcrumb {
      margin-bottom: 0;
      padding: 23px 0;
  
      .breadcrumb-item {
        color: #999;
        font-size: 18px;
  
        a {
          color: #999;
          text-decoration: none !important;
        }
  
        &.active {
          color: #1a1a1a;
          font-weight: bold;
        }
      }
    }
  
    .breadcrumb-item + .breadcrumb-item::before {
      color: #999;
      font-weight: normal;
    }
    
  }
  .accordion-header .custom-header {
    border-top: 0.85px solid #ebebeb;
    border-bottom: 0.85px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 48px;
    background: #f5f5f5;
  }
  .studio-prersonnel-nav {
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    position: fixed;
    transition: background-color .6s,top .3s linear;
    width: 100%;
    top: 75px;
}
  .accordion .accordion-item {
    border: none;
  
    .custom-header {
      .gap-3 {
        display: flex;
        align-items: center;
  
        .text-pure-black {
          color: rgba(26, 26, 26, 1);
          margin: 0;
          font-weight: bold;
        }
      }
  
      .icon {
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: unset;
  
        button {
          height: 40px;
          width: 40px;
          padding: 0;
          min-width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          font-weight: 400 !important;
          min-height: 33px;
          border-radius: 25px;
          font-size: 14px;
          color: #1a1a1a;
          white-space: nowrap;
          background-color: #ebebeb;
          border-color: #ebebeb;
          text-decoration: none;
          outline: none;
          box-shadow: unset;
        }
      }
    }
  
    .accordion-body {
      padding: 0;
  
      .avatar {
        position: relative;
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
  
        img {
          max-height: 10rem;
          margin-bottom: 15px;
          border: 1px solid #f5f5f5;
        }
      }
    }
  }
  .studio-prersonnel-details-page {
    padding-top: 150px;
  
    .studio-prersonnel-detail-img {
      padding: 0 56px;
      @media (max-width: 992px) {
        padding: 0 10px;
     }
      img {
        margin: auto;
        display: block;
        max-height: 90vh;
        margin-top: 80px;
      }
    }
    .studio-prersonnel-detail-text {
        padding: 80px 30px 25px 0;
        gap: 1.375rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      
        h1 {
          font-size: 21px;
          font-weight: bold;
          margin-bottom: 0;
        }
      }
      
      .studio-prersonnel-detail-name {
        margin-bottom: 8px;
      
        h4 {
          margin-bottom: 4px;
          font-weight: 600;
          line-height: 1.2;
        }
      }
      
      .studio-prersonnel-detail-right {
        padding: 0 56px;
        @media (max-width: 992px) {
            padding: 0 10px;
        }
      
        hr {
          margin: 25px auto;
          background-color: #ebebeb;
          opacity: 1;
        }
      
        .studio-prersonnel-desc {
          font-weight: 400;
          line-height: 28px;
          color: #212529;
        }
      }
      
      .studio-prersonnel-details-box {
        padding-bottom: 80px;
      }
      
  }
  